
.song-index {
  width: 1300px;
  margin: 0 auto;
  background-color: white;
  padding-bottom: 150px;
}


[class^="song-item"] {
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  height: 52px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  
  p {
    padding: 0 10px;
  }
  
}

.cover-art {
  margin: auto 0;
  width: 40px;
  cursor: pointer;

}

.song-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}