
#discover {
  height: 1300px;
  width: 1300px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  padding: 50px 30px;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 5% 25% 5% 25% 30%;
}


.song-index {
  
  background-color: white;
  padding-bottom: 150px;
}


[class^="song-item"] {
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  height: 52px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid rgb(226, 226, 226);
  
  p {
    padding: 0 10px;
  }
  
}

.item-left {
  width: 950px;
  display: flex;
  align-items: center;

}

.sidebar {
  height: 1000px;
  width: 300px;
  justify-self: flex-end;
  background-color: red;
  grid-column-start: 2;
}

.cover-art {
  margin: auto 0;
  width: 40px;
  cursor: pointer;

}

.song-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

[class^='tile-text'] {
  height: 100px;
  h2 {
    font-weight: lighter;
  }
  h3 {
    color: #999999;
    font-weight: lighter;
  }
}

.tile-text-2 {
  grid-row-start: 3;
}

.splash-index {
  margin: 0 auto;
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  width: 925px;
  height: 220px;
  grid-row: 2;

}

[class *= 'song-tile']{
  display: block;
  width: 125px;
  height: 180px;
  margin: 10px 5px ;
  flex-shrink: 0;
}

.tile-title {
  font-size: 15px;
}

.tile-artist {
  font-size: 12px;
}
.cover-tile {
  height: 120px;
  width: 120px;

  
}

.splash-cover {
  position: relative;
}

.splash-play-circle {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 15%;
  left: 15%;
  opacity: 0;
  color:rgb(128,26,26);
}

.splash-cover:hover {
  opacity: 0.7;
}
.splash-cover:hover .splash-play-circle {
  background-color: rgba($color: #969696, $alpha: 1);
  opacity: 1;
}