

[class^="song-item"] {
  background-color: rgba($color: #ffffff, $alpha: 0.4);
  display: flex;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.cover-art {
  width: 150px;
}

.song-details {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}