.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    // background: rgba(230, 230, 230, 0.7);
    z-index: 10;

    animation: backgroundAnimation 1s ease-in-out -0.5s 1 forwards
}

  
.modal-child {
position: absolute;
top: -600px;
left: 50%;
transform: translate(-50%, -50%);
background-color: rgb(255, 255, 255);
border-radius: 5px;
padding: 40px;
width: 500px;
animation: modalAnimation 1.1s ease-in-out -0.5s 1 forwards;
}

.session-form {
   
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
}

.session-form form {
    
    display: flex;
    flex-direction: column;

    align-items: space-around;
    input {
        margin-top: 10px;
        height: 40px;
    }
}

#or {
    width: 400px;
    text-align: center;
    border-bottom: 1px solid rgb(128, 128, 128); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
}

span { 
    background:#fff; 
    padding:0 10px; 
}



.session-form button {
    background-color: rgb(145, 0, 0);
    width: 400px;
    min-height: 40px;
    border-radius: 5px;
    color: white;
    
}

#continue {
    margin-top: 20px;
}

@keyframes modalAnimation {
    0% {top: -600px;}
    80% {top: 55%}
    100% {top: 50%;}

}

@keyframes backgroundAnimation {
    0% {background: rgba(230, 230, 230, 0.0);}
    100% {background: rgba(230, 230, 230, 0.7);}
}