[class*='playlist-']{


    .playlist-title {
        padding-left: 20px;
        display: inline-block
    }

    div.song-index{
        background-image: none;
        background-color: white;
        
        .city {
            margin-top: 0;
        }
    }
    [class*='song-item-'] {
        width: 1000px;
        justify-content: flex-start;
        .play-circle {
            margin: 4px;
            width: 42px;
            height: 38px;
        }

        
    }

    .item-left p {
        color: black;
    }

    .like {
        display: none;
    }

    .song-index::-webkit-scrollbar-track {
        background: #c2c2c2; 
    }
    
}

.playlist {
    background-color: white;
    width: 1300px;
    padding-bottom: 20px;
    margin: 0 auto;

    .playlist-deets {
        margin: 50px 0 20px;
        height: 400px;
        padding: 20px;
        background-color: black;
    }
}