.player {
    width: 1300px;
    border-top: 1px solid rgb(212, 212, 212);
    background-color: rgb(239,239,239);
    display: flex;
    padding-left: 20px;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    position: fixed;
    bottom: 0;
}

#audio {
    height: 100px;
    width: 100px;
}

.play-pause {
    margin-right: 20px;
}

.title {
    color: grey;
    cursor: pointer;

    
}

.play-circle {
    width: 20px;
    position: absolute;
    opacity: 0;
    top: 25%;
    left: 25%;
    color:rgb(128,26,26);
}


.d-cover{
    height: 45px;
    width: 45px;
    position: relative;


}

.d-cover:hover .cover-art {
    opacity: .4;
}
.d-cover:hover .play-circle {
    opacity: 1;
}


.vol-slider {
    width: 100px;
    display: inline;
    animation-name: slide;
    animation-duration: 1s;
}




.vol-slider-hidden {
    width: 0;
    animation-name: revslide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
   
    
}

@keyframes slide {
    0% {width: 0; opacity: 0;}
    100% {width: 100px; opacity: 1;}
    
}
@keyframes revslide {
    0% {width: 100px; opacity: 1;}
   
    100% {width: 0px; opacity: 0;}
  
}