

.song-show {
    width: 1300px;
    height: 800px;
    background-color: white;
    margin: 50px auto 0;



    .song-info {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        background-color: black;
        height: 400px;
        h1, h3 {
            color: white;
            width: 400px;
        }

        img {
            height: 340px;
            width: 340px;
            border: 2px solid gray;
        }
    }
    
    
    .play-button {
        padding-right: 15px;
        height: 80px;
        width: 80px;
        color: rgb(128,26,26);
        float: left;
        cursor: pointer;

    }

    
}


.comment-section {
    margin: 20px;
    .user-pic {
        height: 50px;
        width: 50px;
        background-image: url("https://contrafact-seeds.s3.us-east-2.amazonaws.com/blank-profile-picture-973460_640.png");
        background-size: cover;
    }

    .comment-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 50px;
        width: 880px;
        background-color: rgb(216, 214, 214);
        border-radius: 3px;
    }

    .comment-box {
        height: 30px;
        width: 810px;
        margin-left: 10px;
        border: 1px solid black;
        border-radius: 3px;


    }

    .comment-buttons {
        margin-top: 10px;
        display: flex;
        button {
            padding: 0 5px;
            min-width: 70px;
            height: 30px;
            border: 1px solid gray;
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        button:hover {
            background-color: rgb(224, 224, 224);
        }

    }

    .dropdown-parent {
        width: 120px;
    }
    .dropdown-child {
        width: 120px;
        
        display: flex;
        justify-content: center;
        
        border: 1px solid rgb(179, 179, 179);
        border-radius: 2px;
        p {
            width: 120px;
            text-align: center;
            cursor: pointer;
        }

        p:hover {
            
            background-color: rgb(224, 224, 224);
        }


    }

    .stats {
        width: 200px;
        height: 40px;
        display: flex;
        margin-left: 98px;
        justify-content: space-between;
        align-items: center;
        color: grey;

        li {

            list-style: none;
            width: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }
}