/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *  DELETED require_tree .
 *= require_self
 */

 
 @import "./base/reset.scss";
 @import "./main/navbar.scss";
 @import "./main/splash.scss";
 @import "./main/modal.scss";
 @import "./main/discover.scss";

 
.footer{
    background-color: white;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.flinks {
    border-top: 1px solid grey;
    
    width: 1120px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;


     button {
         margin-top: 15px;
         

     }
 }
 .linkedin {
     background-image: url("https://pbs.twimg.com/profile_images/1082424539492073477/exU8rYn8_400x400.jpg");
     width: 50px;

     height: 50px;
     background-size: cover;
     border: 2px solid rgb(179, 179, 179);
     border-radius: 5px;
     
    }

 .github {
     background-image: url("https://cdn.iconscout.com/icon/free/png-256/github-153-675523.png");
     width: 50px;
    
     height: 50px;
     background-color: rgb(252,251,246);
     background-size: cover;
     border: 2px solid rgb(179, 179, 179);
     border-radius: 5px;
     
     
    }


    
.linkedin:hover {
        animation: wiggle 2s linear 0s infinite both;
        
    } 
    
.github:hover {
        animation: wiggle 2s linear 0s infinite both;
        
    } 

 .futils {
     padding-top: 15px;
     display: flex;
     width: 300px;
     justify-content: space-between;
     color: grey;
     cursor: pointer;

     :hover{
         color: rgb(75, 75, 75);
     }
 }

 @keyframes wiggle {
    0% { transform: rotate(0deg); }
   5% { transform: rotate(-5deg); }
   10% { transform: rotate(5deg); }
   15% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}